@import "tailwindcss";

@font-face {
  font-family: 'Limelight';
  src: url('/font/Limelight/Limelight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Rubik Custom'; /* Define a new name */
  src: url('/public/font2/rubik/Rubik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
}


@supports (height: 100dvh) {
  body {
    min-height: 100dvh;
  }
}
