@import "tailwindcss";

@font-face {
  font-family: 'Limelight';
  src: url('/Limelight/Limelight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Best practice for performance */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
}


@supports (height: 100dvh) {
  body {
    min-height: 100dvh;
  }
}
